@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --main-color: crimson;
    --black: #222;
    --white: #fff;
    --light-bg: #ddd;
}

*{
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    outline:none;
    border:none;
    text-decoration: none;
}

.header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    background-color: var(--black);
}

.header .navbar {
    margin:0;
    max-width: 1200px;
    display:flex;
}

.header .navbar a{
    font-size: 20px;
    padding:20px;
    text-align: center;
    color:var(--white);
    text-transform: capitalize;
    flex:1;
}
.header .navbar a:hover{
    background-color: var(--main-color);
}

section{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(odd){
    background-color: var(--light-bg);
}

section h1{
    font-size:80px;
    color: var(--black);
    text-transform: uppercase;

}